<div class="editor-row">
  <div class="section gf-form-group">
    <h5 class="section-heading">Nodes</h5>

    <!--
		<gf-form-switch class="gf-form" label="Dynamic Radius" label-class="width-10" checked="ctrl.panel.dynamic_radius" on-change="ctrl.refresh()"></gf-form-switch>

		-->

    <div class="gf-form">
      <span class="gf-form-label width-10">Node Radius</span>
      <input
        type="number"
        class="gf-form-input max-width-12"
        ng-model="ctrl.panel.node_radius"
        ng-model-options="{debounce: 100}"
        ng-change="ctrl.render()"
      />
    </div>

    <div class="gf-form">
      <span class="gf-form-label width-10">Square Side Length</span>
      <input
        type="number"
        class="gf-form-input max-width-12"
        ng-model="ctrl.panel.square_side_length"
        ng-model-options="{debounce: 100}"
        ng-change="ctrl.render()"
      />
    </div>

    <div class="gf-form">
      <span class="gf-form-label width-10">Color Scale</span>
      <div class="gf-form-select-wrapper max-width-12">
        <select
          class="gf-form-input"
          ng-model="ctrl.panel.color_scale"
          ng-options="v for v in ['schemeCategory10','schemeCategory20','schemeCategory20b','schemeCategory20c','schemeAccent', 'schemePaired', 'schemePastel1', 'schemePastel2', 'schemeSet1', 'schemeSet2', 'schemeSet3']"
          ng-change="ctrl.render()"
        ></select>
      </div>

      <info-popover mode="right-absolute"
        >Color scale types:
        <br />
        <a
          target="_blank"
          href="https://github.com/d3/d3-scale#schemeCategory10"
          ><u>Basic</u></a
        >

        <br />
        <a
          target="_blank"
          href="https://github.com/d3/d3-scale-chromatic#categorical"
          ><u>Chromatic</u>
        </a>
      </info-popover>
    </div>

    <gf-form-switch
      class="gf-form"
      label="Remove Noise"
      label-class="width-10"
      checked="ctrl.panel.nodes_remove_noise"
      on-change="ctrl.refresh()"
    ></gf-form-switch>

    <gf-form-switch
      class="gf-form"
      label="Issue Data Network"
      label-class="width-10"
      checked="ctrl.panel.issuedata_network"
      on-change="ctrl.refresh()"
    ></gf-form-switch>

    <gf-form-switch
      class="gf-form"
      label="Comitted Issues"
      label-class="width-10"
      ng-show="ctrl.panel.issuedata_network"
      checked="ctrl.panel.committed_issues"
      on-change="ctrl.refresh()"
      tooltip="Show issues with commits only"
    ></gf-form-switch>

    <gf-form-switch
      class="gf-form"
      label="Show All Issues"
      label-class="width-10"
      ng-show="ctrl.panel.issuedata_network"
      checked="ctrl.panel.show_all_issues"
      on-change="ctrl.refresh()"
    ></gf-form-switch>

    <div class="gf-form" ng-if="ctrl.panel.nodes_remove_noise">
      <span class="gf-form-label width-10">Noise Threshold</span>
      <input
        type="text"
        class="gf-form-input max-width-10"
        ng-model="ctrl.panel.nodes_noise"
        ng-model-options="{debounce: 100}"
        ng-change="ctrl.render()"
      />
      <info-popover mode="right-absolute"
        >Show only the nodes (and their related nodes/edges) that are more than
        the Node's Total noise canceling.</info-popover
      >
    </div>
  </div>

  <div class="section gf-form-group">
    <h5 class="section-heading">First Term Nodes</h5>

    <div class="gf-form">
      <span class="gf-form-label width-10">Color Selection on</span>
      <div class="gf-form-select-wrapper max-width-12">
        <select
          class="gf-form-input"
          ng-model="ctrl.panel.first_color_selector"
          ng-options="v for v in ctrl.colorSelectOptions()"
          ng-change="ctrl.render()"
        ></select>
      </div>

      <info-popover mode="right-absolute"
        >Color selection method:
        <br />
        <ul style="padding-left: 10px">
          <li><b>Index</b> is the data index</li>

          <li><b>Regex</b> is the regular expression selection</li>

          <li>
            The other values are used for grouping to select the color group
          </li>
        </ul>
      </info-popover>
    </div>

    <div
      class="gf-form"
      ng-if="ctrl.panel.first_color_selector==='regular expression'"
    >
      <span class="gf-form-label width-10">Color RegExp </span>
      <div class="gf-form-select-wrapper max-width-12">
        <input
          type="text"
          class="gf-form-input max-width-12"
          ng-model="ctrl.panel.first_color_regexp"
          ng-model-options="{debounce: 200}"
          ng-change="ctrl.render()"
        />
      </div>

      <info-popover mode="right-absolute"
        >Regular expression <b>string match</b> e.g: '()' will be used for
        grouping nodes.
      </info-popover>
    </div>

    <div class="gf-form">
      <span class="gf-form-label width-10">Tooltip </span>
      <input
        type="text"
        class="gf-form-input max-width-12"
        ng-model="ctrl.panel.first_term_tooltip"
        ng-model-options="{debounce: 500}"
        ng-change="ctrl.render()"
      />

      <info-popover mode="right-absolute"
        >The dynamic tooltip to show when hovered. Use the terms from the
        metrics with double braces to include:
        <span ng-non-bindable> {{ term }}</span>
      </info-popover>
    </div>

    <div class="gf-form">
      <span class="gf-form-label width-10">Min Edges </span>
      <input
        type="text"
        class="gf-form-input max-width-12"
        ng-model="ctrl.panel.first_filter_minumum_number_of_links"
        ng-model-options="{debounce: 500}"
        ng-change="ctrl.render()"
      />

      <info-popover mode="right-absolute"
        >Filter if the edge count of the node is less than the 'input' number of
        minumum edges
      </info-popover>
    </div>
  </div>

  <div class="section gf-form-group">
    <h5 class="section-heading">Second Term Nodes</h5>

    <div class="gf-form">
      <span class="gf-form-label width-10">Color Selection on</span>
      <div class="gf-form-select-wrapper max-width-12">
        <select
          class="gf-form-input"
          ng-model="ctrl.panel.second_color_selector"
          ng-options="v for v in ctrl.colorSelectOptions()"
          ng-change="ctrl.render()"
        ></select>
      </div>

      <info-popover mode="right-absolute"
        >Color selection method:
        <br />
        <ul style="padding-left: 10px">
          <li><b>Index</b> is the data index</li>

          <li><b>Regex</b> is the regular expression selection</li>

          <li>
            The other values are used for grouping to select the color group
          </li>
        </ul>
      </info-popover>
    </div>

    <div
      class="gf-form"
      ng-if="ctrl.panel.second_color_selector==='regular expression'"
    >
      <span class="gf-form-label width-10">Color RegExp </span>
      <div class="gf-form-select-wrapper max-width-12">
        <input
          type="text"
          class="gf-form-input max-width-12"
          ng-model="ctrl.panel.second_color_regexp"
          ng-model-options="{debounce: 200}"
          ng-change="ctrl.render()"
        />
      </div>

      <info-popover mode="right-absolute"
        >Regular expression <b>string match</b> e.g: '()' will be used for
        grouping nodes.
      </info-popover>
    </div>

    <div class="gf-form">
      <span class="gf-form-label width-10">Tooltip </span>
      <input
        type="text"
        class="gf-form-input max-width-12"
        ng-model="ctrl.panel.second_term_tooltip"
        ng-model-options="{debounce: 500}"
        ng-change="ctrl.render()"
      />

      <info-popover mode="right-absolute"
        >The dynamic tooltip to show when hovered. Use the terms from the
        metrics with double braces to include:
        <span ng-non-bindable> {{ term }}</span>
      </info-popover>
    </div>

    <div class="gf-form">
      <span class="gf-form-label width-10">Min Edges </span>
      <input
        type="text"
        class="gf-form-input max-width-12"
        ng-model="ctrl.panel.second_filter_minumum_number_of_links"
        ng-model-options="{debounce: 500}"
        ng-change="ctrl.render()"
        disabled
      />

      <info-popover mode="right-absolute"
        >Filter if the edge count of the node is less than the 'input' number of
        minumum edges
      </info-popover>
    </div>
  </div>

  <!--

		<div class="gf-form">
			<span class="gf-form-label width-10">Tooltip</span>
			<input type="text" class="gf-form-input max-width-10" ng-model="ctrl.panel.node_tooltips" ng-change="ctrl.render()">
			<info-popover mode="right-absolute">'d' is the current data point at hand.</info-popover>
		</div>

		-->

  <div class="section gf-form-group">
    <h5 class="section-heading">Edges</h5>

    <div class="gf-form">
      <span class="gf-form-label width-10">Dynamic Thickness</span>
      <gf-form-switch
        class="gf-form"
        checked="ctrl.panel.dynamic_thickness"
        on-change="ctrl.refresh()"
      ></gf-form-switch>
      <info-popover mode="right-normal"
        >Calculate thickness of the egdes from the values.</info-popover
      >
    </div>

    <div class="gf-form" ng-if="!ctrl.panel.dynamic_thickness">
      <span class="gf-form-label width-10">Thickness</span>
      <input
        type="number"
        class="gf-form-input max-width-10"
        ng-model="ctrl.panel.link_thickness"
        ng-model-options="{debounce: 50}"
        ng-change="ctrl.render()"
      />
    </div>

    <div class="gf-form">
      <span class="gf-form-label width-10">Base Distance</span>
      <input
        type="number"
        class="gf-form-input max-width-10"
        ng-model="ctrl.panel.link_distance"
        ng-model-options="{debounce: 50}"
        ng-change="ctrl.render()"
      />

      <info-popover mode="right-absolute"
        >Edge distances are calculated according to their logarithmic
        values.</info-popover
      >
    </div>

    <gf-form-switch
      class="gf-form"
      label="Remove Noise"
      label-class="width-10"
      checked="ctrl.panel.remove_noise"
      on-change="ctrl.refresh()"
    ></gf-form-switch>

    <div class="gf-form" ng-if="ctrl.panel.remove_noise">
      <span class="gf-form-label width-10">Noise Threshold</span>
      <input
        type="text"
        class="gf-form-input max-width-10"
        ng-model="ctrl.panel.noise"
        ng-model-options="{debounce: 250}"
        ng-change="ctrl.render()"
      />
      <info-popover mode="right-absolute"
        >Show only the egdes (and related nodes) that are more than the Edge
        noise canceling.</info-popover
      >
    </div>

    <!--
		<div class="gf-form">
			<span class="gf-form-label width-10">Tooltip</span>
			<input type="text" class="gf-form-input max-width-10" ng-model="ctrl.panel.link_tooltips" ng-change="ctrl.render()">
			<info-popover mode="right-absolute">'d' is the current data point at hand.</info-popover>
		</div>
		--></div>

  <div class="section gf-form-group">
    <h5 class="section-heading">Combine</h5>

    <gf-form-switch
      class="gf-form"
      label="Active"
      label-class="width-12"
      checked="ctrl.panel.combine_active"
      on-change="ctrl.refresh()"
      disabled
    ></gf-form-switch>

    <div class="gf-form" ng-if="ctrl.panel.combine_active">
      <span class="gf-form-label width-12">Combine to Show</span>
      <div class="gf-form-select-wrapper max-width-12">
        <select
          class="gf-form-input"
          ng-model="ctrl.panel.combine_to_show"
          ng-options="v for v in ctrl.combineOptions()"
          ng-change="ctrl.render()"
        ></select>
      </div>

      <info-popover mode="right-absolute"
        >Show relation of the selected node types by combining on the other node
        types.
      </info-popover>
    </div>

    <div class="gf-form" ng-if="ctrl.panel.combine_active">
      <span class="gf-form-label width-12">Edge Value Calc. Method</span>
      <div class="gf-form-select-wrapper">
        <select
          class="gf-form-input"
          ng-model="ctrl.panel.combine_method"
          ng-options="s for s in ['min','max','mean','sum']"
          ng-change="ctrl.render()"
        ></select>
      </div>

      <info-popover style="right: 2rem;" mode="right-absolute"
        >Calculate the new edge values while combining using this method.
      </info-popover>
    </div>

    <div class="gf-form" ng-if="ctrl.panel.combine_active">
      <span class="gf-form-label width-12">Hide Internal Relations</span>
      <gf-form-switch
        class="gf-form"
        checked="ctrl.panel.hide_internal_relationships"
        on-change="ctrl.refresh()"
      ></gf-form-switch>
      <info-popover mode="right-normal"
        >Shows external relations only. Hides the relationshiphs where the nodes
        are in the same group (Color selector group).</info-popover
      >
    </div>
  </div>

  <div class="gf-form-group">
    <div class="edit-tab-content">
      <div class="gf-form-group">
        <h5>Selective Coloring <tip>Set color to selected nodes </tip></h5>

        <div
          class="gf-form-inline"
          ng-repeat="group in ctrl.panel.colorOptions"
        >
          <div class="gf-form">
            <label class="gf-form-label">Node name</label>
          </div>
          <div class="gf-form width-10">
            <input
              type="text"
              ng-model="group.key"
              ng-blur="ctrl.render()"
              data-min-length="0"
              data-items="100"
              class="gf-form-input"
            />
          </div>

          <div class="gf-form">
            <label class="gf-form-label">Color</label>
          </div>
          <div class="gf-form width-10">
            <input
              type="text"
              ng-model="group.value"
              ng-blur="ctrl.render()"
              data-min-length="0"
              data-items="100"
              class="gf-form-input"
            />

            <span class="gf-form-label">
              <color-picker
                color="group.value"
                onChange="ctrl.onColorChange($index)"
              ></color-picker>
            </span>
          </div>

          <div class="gf-form">
            <label class="gf-form-label">
              <i
                class="fa fa-trash pointer"
                ng-click="ctrl.removeColorOption(group)"
              ></i>
            </label>
          </div>
        </div>
      </div>

      <button class="btn btn-inverse" ng-click="ctrl.addColorOption()">
        <i class="fa fa-plus"></i>&nbsp;Add Color Option
      </button>
    </div>
  </div>
  <div class="gf-form-group">
    <div class="edit-tab-content">
      <div class="gf-form-group">
        <h5>Additional Source <tip>Add different kind of nodes </tip></h5>
        <gf-form-switch
          class="gf-form"
          label="Additional Data"
          label-class="width-10"
          checked="ctrl.panel.additionalData"
          on-change="ctrl.refresh()"
        ></gf-form-switch>
        <div class="gf-form">
          <span class="gf-form-label width-10">Additional data query</span>
          <div class="gf-form-select-wrapper max-width-12">
            <select
              class="gf-form-input"
              ng-model="ctrl.panel.additionalDataQueryOrder"
              ng-options="v for v in ctrl.additionalQuerySelectOptions()"
              ng-change="ctrl.refresh()"
            ></select>
          </div>

          <info-popover mode="right-absolute">
            Here, you need to select the index of additional query in queries
            list. It starts from the zero and visual order of the queries are
            not necessarily correct if there isn't only one data source. In
            order to determine the correct index one group queries, one should
            group queries according to the datasource and count all the queries
            of a datasource after its first occurrence.
          </info-popover>
        </div>

        <div class="gf-form">
          <span class="gf-form-label width-10">Color Selection on</span>
          <div class="gf-form-select-wrapper max-width-12">
            <select
              class="gf-form-input"
              ng-model="ctrl.panel.additional_color_selector"
              ng-options="v for v in ctrl.additionalColorSelectOptions()"
              ng-change="ctrl.render()"
            ></select>
          </div>

          <info-popover mode="right-absolute"
            >Color selection method:
            <br />
            <ul style="padding-left: 10px">
              <li><b>Index</b> is the data index</li>

              <li><b>Regex</b> is the regular expression selection</li>

              <li>
                The other values are used for grouping to select the color group
              </li>
            </ul>
          </info-popover>
        </div>

        <div
          class="gf-form"
          ng-if="ctrl.panel.additional_color_selector==='regular expression'"
        >
          <span class="gf-form-label width-10">Color RegExp </span>
          <div class="gf-form-select-wrapper max-width-12">
            <input
              type="text"
              class="gf-form-input max-width-12"
              ng-model="ctrl.panel.additional_color_regexp"
              ng-model-options="{debounce: 200}"
              ng-change="ctrl.render()"
            />
          </div>

          <info-popover mode="right-absolute"
            >Regular expression <b>string match</b> e.g: '()' will be used for
            grouping nodes.
          </info-popover>
        </div>

        <div class="gf-form">
          <span class="gf-form-label width-10">Tooltip </span>
          <input
            type="text"
            class="gf-form-input max-width-12"
            ng-model="ctrl.panel.additional_tooltip"
            ng-model-options="{debounce: 500}"
            ng-change="ctrl.render()"
          />

          <info-popover mode="right-absolute"
            >The dynamic tooltip to show when hovered. Use the terms from the
            metrics with double braces to include:
            <span ng-non-bindable> {{ term }}</span>
          </info-popover>
        </div>
        <div class="gf-form">
          <span class="gf-form-label width-10">Side Length</span>
          <input
            type="number"
            class="gf-form-input max-width-12"
            ng-model="ctrl.panel.additional_node_size"
            ng-model-options="{debounce: 100}"
            ng-change="ctrl.render()"
          />
        </div>
      </div>
    </div>
  </div>
</div>
