<style type="text/css">
  .networkchart-panel {
    cursor: move;
  }

  .nodes circle,
  .nodes rect {
    cursor: pointer;
  }

  .no-data {
    display: none;
  }

  div.nctooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    color: black;
  }

  .caption-holder {
    position: absolute;
    width: 300px;
    height: 95%;
    overflow: auto;
    direction: rtl;
  }

  .caption {
    position: absolute;
    width: 280px;
    /*border: 1px solid;*/
    border-radius: 15px;
    direction: ltr;
  }

  .next-to-captions {
    position: absolute;
    right: 10px;
  }

  .full_width_height {
    width: 100%;
    height: 100%;
  }

  .captions-text-dark {
    fill: white;
  }

  .captions-text-light {
    fill: black;
  }

  .highlight {
    border-color: black;
  }

  /*.links .line-dark{*/
  /*stroke:white;*/
  /*}*/

  /*.links .line-light{*/
  /*stroke:black;*/
  /*}*/
</style>

<script src="/public/plugins/grafana-networkchart-panel/vendor/d3.min.js"></script>
<script src="/public/plugins/grafana-networkchart-panel/vendor/d3-scale-chromatic.min.js"></script>

<div class="graph-wrapper">
  <div class="nctooltip"></div>

  <div class="caption-holder">
    <svg class="caption"></svg>
  </div>

  <div class="next-to-captions">
    <input
      class="gf-form-input max-width-12 highlight"
      bs-tooltip="'Find in the graph nodes and highlight them.'"
      data-placement="bottom"
      placeholder="File Highlight"
      ng-model="ctrl.highlight_text"
      ng-model-options="{ updateOn: 'change blur' }"
      ng-change="ctrl.highlight()"
    />
    <div class="gf-form-button-row">
      <a
        class="btn btn-inverse input-block-level"
        id="showHighlightedFiles"
        style="display: none"
      >
        <i class="fa fa-eye"></i>
        Show Highlights
      </a>
    </div>
    <div class="gf-form-button-row">
      <a
        class="btn btn-inverse input-block-level"
        id="printHighlightedFiles"
        style="display: none"
      >
        <i class="fa fa-print"></i>
        Export Highlights
      </a>
    </div>
    <div class="gf-form-button-row">
      <a
        class="btn btn-danger input-block-level"
        id="clearButton"
        style="display: none"
      >
        <i class="fa fa-trash"></i>
        Clear Highlights
      </a>
    </div>
  </div>

  <svg class="networkchart-panel full_width_height">
    <text class="no-data" x="15" y="15" fill="red">No data points</text>

    <g class="svg-wrapper">
      <g class="links"></g>

      <g class="nodes"></g>
    </g>
  </svg>
</div>
<div class="clearfix"></div>
